/*
 * SPDX-License-Identifier: Apache-2.0
 */
/ {
    servo: servo {
        compatible = "pwm-servo";
        // pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        pwms = <&pwm2 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
    };
};

/* 7 | PWM / D6 | ARD.D6-PWM | PB1 | TIM3_CH4 */
/* 6 | PWM / D5 | ARD.D5-PWM | PB4 | TIM3_CH1 */

&timers3 {
    status = "okay";
    pwm3: pwm {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&tim1_ch4_pb1>;
    };
};
&timers15 {
    status = "okay";
    pwm15: pwm {
        status = "okay";
        inctrl-names = "default";
        pinctrl-0 = <&tim15_ch2_pa3>;
    };
};

